body {
  height: 100vh;
  margin: 0px;
}


#search-bar {
      border-radius: 20px;
      border: 3px solid grey;
      padding: 5px 15px;
      outline: none;
}
#search-bar:focus {
  outline: none !important;
}
input:focus {
  outline: none;
}

#search-button {
      padding: 0;
      margin: 0;
      
      border: 0;
      background: rgba(0, 0, 0, 0);
      
      vertical-align: middle;
}
#search-button:focus {
      outline: none;
}
#search-button img{
      cursor: pointer;
}